.player-music{
    background-color: #0f172a !important;
    height: 6rem;
    color: white !important;
}
.rhap_progress-bar .rhap_progress-bar-show-download{
    background-color: white !important;
}
.rhap_progress-bar-show-download {
    background-color:white !important;
}